*{
    margin: 0;
    color: rgb(29, 27, 24);
    background-color: #fafafa;
    margin-left: 4px;
}
main{
    display: flex;
    flex-direction: column;
}
   
   a{
    
    color: rgb(41, 39, 39);
    
   }

.menu{
    padding: 4px;
    font-size: 24px;
    display: block;
    margin-bottom: 10px;
    

}
.menu .efect{
    
    margin-right: 4%;
    color: rgb(166, 170, 125);
    background-color: rgba(90, 40, 40, 0);
    
}
header {
    text-align: center;
    font-family: 'Tangerine', serif;
    font-size: 29px;
    text-shadow: 4px 4px 4px #5f7199;
    color: rgb(99, 18, 9) solid;
    
}
.title h2{
    font-family: 'Tangerine', serif;
    font-size: 56px;
    margin: 6px;  
    text-align: center;
    color: rgb(99, 18, 9) solid;

}

main .title{
    color: rgb(29, 27, 24);
    background-color: rgba(0, 0, 0, 0);
    padding: 30px 50px;
}
main .card{
    width: 310px;
    max-width: 400px;
	  margin: 3px auto;
    background-color: #839fdb54;
    border: rgb(99, 18, 9) solid;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 3px 3px 3px 4px #7684ac;
    justify-content: center;
    height: 70vh;

}
main .card #topo{
    text-align: center;
    font-size: 22px;
    text-shadow: 4px 4px 4px #ffffff;
    background: none;

}
.lineInput{
    display: grid;
    margin-bottom: 10px;
    border: rgb(99, 18, 9) solid;
    border-radius: 40px;
}

input{
    padding: 10px;
    border: none;
    border-radius: 3px;
    outline: 0;
    background-color:#ffffff00;
    max-width: max-content;

}
label{
    margin-left: 100px;
    background-color: rgba(158, 203, 240, 0) ;
    font-weight: bold;
    color:rgb(99, 18, 9);
}
button{
    padding: 10px;
    outline: 0;
    background: rgb(39, 47, 61);
    border-radius: 3px;
    font-weight: bold;
    border: rgb(99, 18, 9) solid;
    transition: all ease 0.3ms;
    color: rgb(99, 18, 9) solid;

}
button:hover{
    background: rgb(8, 36, 97);

}
.content{
    margin: 15px 4%;

}
table{
    border-collapse: collapse;
    border:1px rgb(99, 18, 9) solid;
    width: 100%;
}
table th{
    background-color: rgb(68, 77, 131);
}

/* ----------------------------------------*/

table td img{
    width: 22px;
    background: rgba(202, 202, 202, 0);
    
}
table td img:hover{
    width: 22px;
    background: rgb(75, 96, 218);
    
}
main .btn{
    
        border-top: 15px;
        padding: 10px;
        outline: 0;
        color: rgb(255, 254, 254) ;
        background: rgb(151, 12, 12);
        border-radius: 3px;
        font-weight: bold;
        transition: all ease 0.3ms;
        
}
main .btn:hover{
        background: rgb(175, 35, 35);
    
    
}

table td{
    text-transform: uppercase;
}

.center{
    text-align: center;
}